<div class="container">
	<div class="row">
        <div class="col-sm-8 col-sm-offset-2">
			<h1>Ben Haigh U1353892 Node.js Sails</h1>
			<a href="/users/new" class="btn btn-primary" role="button">New User</a>
			<a href="/users" class="btn btn-primary" role="button">Print all users</a>
			<a href="/users/searchPage" class="btn btn-primary" role="button">Search User</a>
		</div>
	</div>
	<br>
	<div class="row">
		<h3 id="LoginDetails"></h3>
		<form action="/users/login" method="post" id="Login">
		  <label for="Username">Your Username</label>
		  <input name="Username" id="username" type="text"/>
		  <br/>
		  <label for="password">Your password</label>
		  <input name="password" id="pass" type="password"/>
		  <br/>
		  <input type="submit"/>
		</form>
	</div>
</div>
