<h1>New users</h1>

<form action="/users/create" method="POST">
	<input type="text" placeholder="First Name" name="firstname">
	<input type="text" placeholder="Last Name" name="LastName">
	<input type="text" placeholder="Username" name="Username">
	<input type="submit" value="Submit User">
</form>