
<script>
$(document).ready(function () {
    $("#SearchForm").on("submit", function(e){
		e.preventDefault();
		return false;
	});
	
    var optionsTop = {
        callback: function (value) { doneTyping(value) },
        wait: 1000,
        highlight: true,
        captureLength: 0
    }
	
	function doneTyping(value) {
        $.ajax({
            url: "/users/search",
			dataType: 'json',
            data: { searchTerm : value },
            success: function (ret) {
				$('#bodyTable').empty();
				$.each(ret, function( index, value ) {
					$('#bodyTable').append("<tr><td>" + value["firstname"] +"</td><td>"+ value["LastName"] +"</td><td>"+ value["Username"] + "</td><td>"+ "<a href='/users/show/"+value["userid"]+"' class='btn btn-success' role='button'> Show User </a>" + "</td><td>" +"<a href='/users/remove/"+value["userid"]+"' class='btn btn-danger' role='button'> Delete User </a>" + "</td></tr>");
				});
			}
        });
    }
	
	$('#text').typeWatch({
		  callback:function(value){
			doneTyping(value);
		 },
		 wait:750,
	  highlight:false
	});
});
</script>
<section>
<div class="container">
	<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search"  id="text">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<h2 class="text-center">Search Results</h2>
			<table class="table">
				<thead>
				  <tr>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Username</th>
					<th>Show</th>
					<th>Delete</th>
				  </tr>
				</thead>
				<tbody id="bodyTable">
				</tbody>
		    </table>
	    </div>
	</div>
</section>
