<h1>User</h1>

<form action="/users/update" method="POST">
	<input type="hidden" name="userid" value="<%= Users.userid %>" >
	<input type="text"  name="firstname" value="<%= Users.firstname %>" >
	<input type="text"  name="LastName" value="<%= Users.LastName %>">
	<input type="text"  name="Username" value="<%= Users.Username %>">
	<input type="submit" value="Submit User">
</form>




